<!-- <div *ngIf="exercises.length == 0; else showExercises" class="text-white">
    No exercises to display.
</div>
  
<ng-template #showExercises>
  <ul class="text-white">
    <exercise-list-item
      *ngFor="let exercise of exercises"
      [exercise]="exercise"
    ></exercise-list-item>
  </ul>
</ng-template> -->

<div class="mb-4">
  <div class="grid grid-rows-1 grid-flow-col">
    <a routerLink=".." class="text-md text-white text-sm flex pt-2 pl-2 flex justify-start">
        <div class="border-2 border-green-500 bg-red-800 rounded-full px-4 py-1 active:scale-90">Back</div>
    </a>
    <a routerLink=".." class="text-md text-white text-sm flex pt-2 pl-2 flex justify-end">
        <div class="border-2 border-green-500 bg-red-800 rounded-full px-4 py-1 active:scale-90">Add</div>
    </a>
  </div>
</div>

<div class="border-y-4 rounded-xl border-green-500">
  <div
    class="flex justify-center text-xl border-2 border-green-500 rounded-xl m-4 p-2 text-white bg-red-800"
    *ngFor="let exercise of exercises"
  >
    <h1>
      <a [routerLink]="['/exercises', exercise.id]">
        {{exercise.exerciseName}}
      </a>
    </h1>
  </div>
</div>