<div class="text-white text-center italic font-bold text-2xl my-6">Fitness App</div>
    
<div class="border-t-2 border-green-500">
    <div class="p-4">
        <div class="border-x-2 border-green-500 rounded-lg">
            <div class="text-white italic font-bold text-md flex tracking-wider justify-center mt-4">{{ dateTime | date:'EEEE' }}</div>
            <div class="text-white italic font-bold text-lg flex tracking-wider justify-center mb-4">{{ dateTime | date:'longDate' }}</div>
        </div>
    </div>

    <div class="text-white flex justify-center items-center">
        <!-- <img class="h-10 w-10 rounded-full" src="" alt=""/> -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
    </div>
</div>

<div class="m-2 text-white font-bold text-lg">Summary</div>

<div class="text-white p-2 bg-gradient-to-br from-red-800 to-red-950 border-2 border-green-500 rounded-2xl">

    <div class="border border-green-500 rounded-2xl p-2 flex flex-col gap-4">
        <div class="flex flex-row justify-between">
            <div class="font-bold text-right flex">Cal Intake:
                <div class="font-normal ml-4">0cal</div>
            </div>
            
            <div class="font-bold text-right flex">Cal Burned:
                <div class="font-normal ml-4">0cal</div>
            </div>
        </div>

        <div class="flex flex-row justify-between">
            <div class="font-bold text-right flex">Weight:
                <div class="font-normal ml-4">140lbs</div>
            </div>
            
            <div class="font-bold text-right flex">Weight Goal:
                <div class="font-normal ml-4">130lbs</div>
            </div>
        </div>

        <div class="flex flex-row justify-between">
            <div class="font-bold text-right flex">Height:
                <div class="font-normal ml-4">5'5ft</div>
            </div>
            
            <div class="font-bold text-right flex">BMI:
                <div class="font-normal ml-4">23.3</div>
            </div>
        </div>

        <div class="flex flex-row justify-between">
            <div class="font-bold text-right flex">Today Done:
                <ng-icon name="ionClose" class="font-normal text-2xl ml-2 mt-[1.5px]"></ng-icon>
            </div>
        </div>
    </div>

    <div class="text-white text-sm flex justify-end my-4">
        <div class="border-2 border-green-500 bg-red-800 rounded-full px-4 py-1 active:scale-90">Edit</div>
    </div>

</div>



<!-- Home Page Buttons -->
<div class="grid gap-6 mt-10 p-2">

    <div class="border-x-4 border-green-500 rounded-full mx-16 p-2 active:scale-90">
        <a href="#" (click)="$event.preventDefault(); goToWorkout()"
            class="text-white text-center text-lg bg-red-800 rounded-full flex justify-evenly items-center p-1.5">
            <ng-icon name="ionBarbellOutline" class="text-black mr-1 text-2xl"></ng-icon>
            Today's Workout
            <ng-icon name="ionBarbellOutline" class="text-black ml-1 text-2xl"></ng-icon>
        </a>
    </div>

    <div class="border-x-4 border-green-500 rounded-full mx-16 p-2 active:scale-90">
        <a routerLink="exercises"
            class="text-white text-center text-lg bg-red-800 rounded-full flex justify-evenly items-center p-1.5">
            <ng-icon name="ionBookOutline" class="text-black mr-1"></ng-icon>
            Exercise Archive
            <ng-icon name="ionBookOutline" class="text-black ml-1"></ng-icon>
        </a>
    </div>

    <div class="border-x-4 border-green-500 rounded-full mx-16 p-2 active:scale-90">
        <a routerLink="muscles"
            class="text-white text-center text-lg bg-red-800 rounded-full flex justify-evenly items-center p-1.5">
            <ng-icon name="ionBody" class="text-black mr-1"></ng-icon>
            Muscle View
            <ng-icon name="ionBody" class="text-black ml-1"></ng-icon>
        </a>
    </div>

    <div class="border-x-4 border-green-500 rounded-full mx-16 p-2 active:scale-90">
        <a routerLink="routines"
            class="text-white text-center text-lg bg-red-800 rounded-full flex justify-evenly items-center p-1.5">
            <ng-icon name="ionTimerOutline" class="text-black mr-1 text-2xl"></ng-icon>
            Routines
            <ng-icon name="ionTimerOutline" class="text-black ml-1 text-2xl"></ng-icon>
        </a>
    </div>

</div>



<!-- ALTERNATE VERSION OF THE SUMMARY -->
<!-- <div class="grid grid-cols-4 my-2 gap-10">
    <div class="col-span-2 grid grid-cols-3">
    <div class="col-span-2 text-right flex justify-center items-center">Weight:</div>
    <div class="col-span-1 leading-8">140lbs</div>
    </div>
    <div class="col-span-2 grid grid-cols-3">
    <div class="col-span-2 text-right flex justify-center items-center">Weight Goal:</div>
    <div class="col-span-1 flex justify-center items-center">130lbs</div>
    </div>
</div> -->